
    <div class="d-flex" id="wrapper">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading font-weight-bolder">Doctor App</div>
            <div class="list-group list-group-flush">
                <a routerLink="home" class="list-group-item list-group-item-action bg-light">Dashboard</a>
                <a routerLink="role-manager" class="list-group-item list-group-item-action bg-light">Managers</a>
                <a routerLink="doctor" class="list-group-item list-group-item-action bg-light">Doctor</a>
                <a routerLink="patient" class="list-group-item list-group-item-action bg-light">Patient</a>
                <a routerLink="appointments" class="list-group-item list-group-item-action bg-light">Bookings</a>

                <a routerLink="speciality" class="list-group-item list-group-item-action bg-light">Speciality</a>
            </div>
        </div>
        <div id="page-content-wrapper">
            <app-header></app-header>
            <div class="container-fluid">
               <!-- inner container -->
               
               <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

    </script>
